html {
    scroll-behavior: smooth;
}
.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: black;
    color: white;
}

@media only screen and (max-width: 1024px){
    .home{
        width: 100%
    }
}

@media only screen and (max-width: 512px){
    .home{
        width: 100%
    }
}

@media only screen and (min-width: 512px) and (max-width: 1024px){
    .home{
        width: 100%;
    }
}