/* 3073010 1 */

.body{
    position: absolute;
    width: 1500px;
    height: 189px;

    background-image:url(C:\Users\EspurrBuns\Documents\GitHub\brian-staver-2022\src\assets\images\3073010.jpg);
}
